.clinics {
  display: flex;
  justify-content: space-between;
  margin-top: 4.5rem;
  background: #fff;
  width: 850px;
}

.clinics__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.clinics__image > img {
  height: 400px;
  width: 700px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.clinics__title > h1 {
  margin: 15px auto;
  color: #21295c;
}

.clinics__title > p {
  line-height: 1.75rem;
  font-size: 0.9rem;
}

.clinics__list {
  margin-top: 1.75rem;
}

.clinics__list > ul {
  margin-top: 1rem;
  padding-left: 0.5rem;
}

.clinics__list > ul > li {
  margin: 15px;
  font-size: 0.9rem;
}

.clinics__missionStatement {
  margin-top: 4rem;
  line-height: 1.75rem;
}

.clinics__missionStatement > h3 {
  font-size: 1.3rem;
  color: #21295c;
}

.clinics__missionStatement > p {
  font-size: 0.85rem;
}

@media only screen and (max-width: 900px) {
  .clinics {
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 2.5rem;
  }

  .clinics__container {
    padding: 2rem;
  }

  .clinics__image > img {
    width: 90vw;
    height: 75vh;
  }

  .clinics__missionStatement {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .clinics__image > img {
    height: 60vh;
  }
}
