.home {
  margin-top: 3rem;
  background: #f7f7f7;
  width: 100vw;
}

.home__landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/home-landing-background.jpeg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 10px 12rem;
}

.home__landing > h1 {
  font-size: 2rem;
  padding-top: 2rem;
  margin: 10px;
  text-transform: uppercase;
}

.home__landing > p {
  font-size: 1rem;
  margin: 10px;
}

.home__landing > button {
  cursor: pointer;
  font-size: 1rem;
  margin: 20px;
  padding: 15px 20px;
  color: #fff;
  background: #f9a620;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s;
}

.home__landing > button:hover {
  background: #21295c;
}

.home_landing .home__modal {
  position: absolute;
  z-index: 9999;
}

@media only screen and (max-width: 900px) {
  .home {
    width: 100%;
  }

  .home__landing {
    padding: 2rem;
    padding-bottom: 0;
  }

  .home__landing > h1 {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .home__landing > p {
    font-size: 0.9rem;
  }

  .home__landing > button {
    font-size: 0.85rem;
    padding: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .home__landing {
    height: 50vh;
  }

  .home__landing > h1 {
    font-size: 1.75rem;
    margin-top: 0;
  }

  .home__landing > p {
    display: none;
  }
}
