.services {
  margin-top: 3rem;
  background: #f7f7f7;
}

.services__titleCard {
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./images/services-background.jpeg");
  background-position: center;
  background-size: cover;
}

.services__titleCard > div {
  display: block;
  margin: 2rem auto;
  text-align: center;
  position: relative;
  top: 35%;
  background: rgba(255, 255, 255, 0.1);
  width: 30vw;
  padding: 40px 0;
}

.services__titleCard > div > h1 {
  color: #fff;
  text-transform: uppercase;
}

.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 3rem;
}

@media only screen and (max-width: 900px) {
  .services__titleCard {
    height: 45vh;
  }

  .services__titleCard > div {
    top: 25%;
    margin: 0 auto;
    width: 50vw;
  }

  .services__container {
    padding: 2rem 1rem;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  .services__titleCard {
    height: 35vh;
  }

  .services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 1rem;
  }
}
