.teamMember {
  height: 350px;
  width: 30vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid lightgray;
}

.teamMember > img {
  height: 40vh;
  width: 100%;
  border-bottom: 4px solid #13abe6;
}

.teamMember > h3 {
  font-size: 1.5rem;
  padding-top: 2rem;
}

.teamMember > p {
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 900px) {
  .teamMember {
    width: 40vw;
    height: fit-content;
  }

  .teamMember > h3 {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .teamMember {
    width: 80vw;
  }
}
